@using Ioc.ObjModels.Model
@model UserModel
@{
    ViewBag.Title = "Create Edit User";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Horizontal Layouts</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
        <!-- Basic Layout -->
        <div class="col-xxl">
            <!-- Basic Layout -->
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Basic Layout</h5>
                        <small class="text-muted float-end">Default label</small>
                    </div>
                    <div class="card-body">
                        <form id="UserForm" novalidate class="needs-validation">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, new { @class = "col-lg-2 control-label" })
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, new { @class = "col-lg-2 control-label" })
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, new { @class = "col-lg-2 control-label" })
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserName, new { @class = "col-lg-2 control-label" })
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, new { @class = "col-lg-2 control-label" })
                                    <div class="col-lg-9">
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address, new { @class = "col-lg-2 control-label" })
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-9"></div>
                                    <div class="col-lg-3">
                                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                                        <button class="btn btn-success" id="btnSubmit" onclick="submitUser()">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // var idDetails = getElementById("btnSubmit");
    function fnName() {

    }

    function submitUser() {
        var data = $("#UserForm").serialize();
        $.ajax({
            url: "/User/CreateEditUser",
            type: "POST",
            //contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            contentType: "application/json; charset=utf-8",
            Data: JSON.stringify('{' + data + '}'),
            success: function (result) {
                alert('Successfully');
                console.log(result);
            },
            error: function () {
                alert('Failed');
                console.log('Failed ');
            }
        });
    };

</script>