@using Ioc.ObjModels.Model
@model List<CustomerModel>

@{
    ViewData["Title"] = "Excel Data";
}

<div class="container-xxl flex-grow-1 container-p-y">

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home /</span> Excel Data</h4>
    <form asp-action="Upload" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="file" class="form-label">Upload Excel File</label>
            <input type="file" class="form-control" id="file" name="file" />
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <br />
    <div class="card">
        <h5 class="card-header">Excel Data</h5>
        <div class="table-responsive text-nowrap">
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Date of Birth</th>
                        <th>Company Name</th>
                        <th>Mobile</th>
                        <th>Validation Errors</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(item.IsValid ? "" : "table-danger")">
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.Contact</td>
                            <td>@item.Email</td>
                            <td>@item.DateOfBirth</td>
                            <td>@item.CompanyName</td>
                            <td>@item.Mobile</td>
                            <td>@item.ValidationMsg</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <form asp-action="Save" method="post">
        <button type="submit" class="btn btn-success mt-3">Save to Database</button>
    </form>
</div>